:root {
    --text: #161004;
--background: #fdf9f2;
--primary-button: #dea935;
--secondary-button: #f9eed8;
--accent: #d79e23;
}

*, *::after, *::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Barlow', sans-serif;
   
}
body {
    background:var(--background);
   
}
nav {
   background-color: white;
}
.nav-center {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1rem;
    border-bottom: 1px solid rgb(0, 0, 0, 0.2);
}


.links {
    display: flex;
    
    
}
.links li {
    list-style: none;
}
.links li a {
   text-decoration: none;
   
   font-size: 1.5rem;
   font-weight: 600;
   color: black;
  text-transform: uppercase;
}
.links li a:hover {
    border-bottom: 2px solid black;
}
.in-page {
    border-bottom: 2px solid black;
    margin-right: 25px;
}
.in-page:hover {
    border-bottom: none;
}
main {
   
  margin: 25px 100px;
}


h2 {
    font-weight: 800;
    margin-right: 10px;
    font-size: 2rem;
}

#add-btn {
  
    margin-top: 10px;
    border:  2px solid var(--primary-button);
    background:  var(--primary-button);
    color: white;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    transition: 0.5s;
    cursor: pointer;
}
#add-btn:hover {
    color: var(--secondary-button) ;
    background: transparent;
}

table {
    margin-top: 10px;
    border-collapse: separate;
    border-spacing: 0;
    width: 100%;
    background-color:var(--background);
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
}

th, td {
    border: none;
    padding: 12px 16px;
}

th {
    background-color: #f8f8f8;
    color: #333;
    font-weight: bold;
    text-align: left;
    font-size: 0.85rem;
}

tr {
    border-bottom: 1px solid #000000;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}
tr:nth-child(odd
) {
    background-color: #f8f8f8;
}
tr:hover {
    background-color: #f6f6f6;
}

.button-tags {
    text-align: center;
}


/* Modal */

.modal-add {
    height: 400px;
    width: 550px;
    background: whitesmoke;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 0 3px rgba(0,0,0, 0.3);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: fixed;
   display: none;
   animation-name: animatemodal;
   animation-duration: 0.5s;
   z-index: 9999;

}

#Address {
  height: 30px;
  margin-top: 5px;
  margin-bottom: 5px;
}

#addForm {
    display: flex;
    flex-direction: column;
  justify-content: center;
    flex: 1;
    
}

#close-btn {
    font-size: 3rem;
    color: red;
    cursor: pointer;
    width: 15px;
    margin-right: 10px;
    align-self: flex-end;
}

input {
    border-radius: 8px;
    height: 30px;
    font-size: 1rem;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 5px;
    border: 1px solid rgba(0, 0, 0, 0.2);
}

#submit {
    text-align: center;
    width: 20%;
    padding: 10px 0;
    border: none;
    background: rgb(167, 19, 19);
    color: white;
    font-size: 1.25rem;
    font-weight: 600;
    border-radius: 10px;
    border: 2px solid rgb(167, 19, 19);
    cursor: pointer;
    transition: 0.5s;
    margin-top: 10px;
}

#submit:hover {
    background:none;
    color: rgb(167, 19, 19) ;
}

input[type="file"] {
    position: relative;
    opacity: 100;
    width: 100%;
    z-index: 1;
    flex: 0;
    cursor: pointer;
    border: none;
  }

  #myFilter {
    font-size: 16px;
    padding-right: 12px 20px 12px 40px;
    border: 1px solid #ddd;
    margin-bottom: 12px;
  }
/* Animate the modal*/

@keyframes animatemodal  {
    from {
        top: -300px;
    } to {
        right: 50%;
    }
}

.deleteRow img {
  width: 18px;

}
.editRow img {
  width: 18px;
}
.deleteRow {

    background-color: #ff4d4d;
    border: none;
    color: var(--text);
    padding: 5px 5px;
    border-radius: 5px;
    font-weight: 800;
    cursor: pointer;
    text-transform: uppercase;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3); 
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }
  
  .deleteRow:hover {
    background-color: #ff1a1a;
  }
  
  .editRow {
    
    background-color: #8cd98c;
    border: none;
    color: #003300;
    padding: 5px 10px;
    border-radius: 5px;
    font-weight: 800;
    cursor: pointer;
    text-transform: uppercase;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3); 
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }
  
  .editRow:hover {
    background-color: #66cc66;
  }

  .check-button{
    font-size: 1.5rem;
  }

    .buttons-row {
        display: flex;
        justify-content: space-around;
        align-content: center;
    }
  
.name-hover:hover {
        cursor: pointer;
        font-weight: bolder;
        text-decoration: underline;
}

.logo {
    width: 400px;
    object-fit: fit;
}

.sort-button {
    background: none;
    border: none;
    outline: none;
    transition: .5s;
    cursor: pointer;
    color: rgb(255, 0, 0, 0.3);
}

.sort-button img {
  width: 15px;
  vertical-align: middle;
}

  .sort-button:hover {
    color: #000000;
    rotate: 90deg;
  }

  
@media (max-width:800px) {
    
    .logo {
        width: 300px;
        object-fit: fit;
    }

    main {
   
        margin: 25px 10px;
      }
      .table-content {
    
        margin: 10px 10px;
      }
      table td {
      flex-wrap: wrap;
      
      }
      .logo {
        width: 300px;
      }
      .Buttons-row {
        margin: 0;
        padding: 5px;
      display: flex;
      justify-content: space-between;
      }
      .deleteRow {
        padding: 5px 10px;
      }
      .editRow {
        margin-top: 5px;
        padding: 5px 10px;
      }
      .modal-add {
        height: 400px;
        width: 350px;
        background: whitesmoke;
        padding: 15px;
        border-radius: 10px;
        box-shadow: 0 0 3px rgba(0,0,0, 0.3);
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        position: fixed;
       display: none;
       animation-name: animatemodal;
       animation-duration: 0.5s;
       z-index: 9999;
    
    }
    
   
    
    #submit {
      text-align: center;
      width: 30%;
      padding: 10px 0;
      border: none;
      background: rgb(167, 19, 19);
      color: white;
      font-size: 1.25rem;
      font-weight: 600;
      border-radius: 10px;
      border: 2px solid rgb(167, 19, 19);
      cursor: pointer;
      transition: 0.5s;
      margin-top: 10px;
      
      }
      table {
        table-layout: fixed;
      }
      
      td {
        word-wrap: break-word;
        overflow-wrap: break-word;
      }
   
      #tdNumbersHead {
        width: 0px;
        margin: 0;
       padding: 25px;
      }

      
}

@media (max-width:550px) {
  #tdPhone {
    display: none;
    width: 0px;
  }
  .tdbuttons{ 
    width: 0%;
    padding: 0;
   vertical-align: middle;
  }

  #tdName {
    width: 130px;
  }
  #tdAddress  {
     width: 100%;
    
     
  }
  
 
}

.filter {
  margin-top: 5px ;
}

.title {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media only screen and (max-width: 480px) {
  .title {
    flex-direction: column;
    text-align: center;
    align-items: center;
  }
  
  .title .top {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
    text-align: center;
  }
  
  .title .filter {
    text-align: center;
    margin-top: 10px;
  }
  #table-title {
    text-align: center;
    margin-left: 10px;
  }
}
